<div id="school-page">
  <div id="top-banner">
    <h1><%= @school.name %></h1>
    <%= render "partials/contact_info" %>
    <div class="ad banner">Banner Ad</div>
  </div>

  <%= render "partials/sidebar", district_id: @school.district.id, schools: @school.district.schools %>

  <div id="blogs-section">
    <h3>Blogs</h3>
    <div id="blogs-div">
      <%= render @blogs %>
    </div>
  </div>
  <div id="events-section">
    <h3>Events</h3>
    <div id="events-div">
      <%= render @events %>
    </div>
  </div>
</div>