<div id="school-page">
  <div id="top-banner">
    <h1><%= @school.name %></h1>
    <%= render "partials/contact_info", contact: @school.site_rep %>
    <!-- {this.state.showEventForm ?
      <RequestForm
        eventData={this.state.eventFormData}
        closeOnClick={this.closeOnClick}
        createEvent={this.createEvent.bind(this)}
      /> : null} -->
    <div class="ad banner">Banner Ad</div>
  </div>
  
  <%= render "partials/sidebar", school: @school, district_id: @school.district.id, schools: @school.district.schools %>

  <%= render partial: 'partials/blogs' %>
  <%= render partial: 'partials/events' %>
</div>