<!DOCTYPE html>
<html>
  <head>
    <title>100 Black Parents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>

  </head>

  <body>
    <div id="page-wrapper">
      <%= render partial: 'layouts/header' %>
    
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      
      <%= yield %>

      
    </div>
      <%= render partial: 'layouts/footer' %>
  </body>
</html>
