<!DOCTYPE html>
<html>
  <head>
    <title>100 Black Parents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag params[:controller], :media => "all"  if stylesheet_exists?(params[:controller]) %>
    <%= javascript_include_tag params[:controller]  if javascript_exists?(params[:controller]) %>
  </head>

  <body>
    <%= render partial: 'layouts/header' %>
  
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    
    <%= yield %>

    
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
